<section class="about__section">
    <div class="container">
        <p class="title__about--label">tradition and love</p>
        <h2 id="about" class="title__about--topic">how it’s made?</h2>
        <div class="about__content">
            <div class="about__image"></div>
            <div class="about__info">
                <p class="about__text">
                    Ice is a place where you will become not only a little happier, but also
                    healthier. Health is the main value for us, and we follow it when creating our
                    handmade desserts.
                </p>
                <p class="about__text">
                    We use traditional recipes and 100% natural ingredients. Our products are so
                    natural that they can be given to children from the age of three years. Sweets
                    lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
                </p>
                <p class="about__text">
                    This is enough to choose ice cream and coffee for any mood!
                </p>
                <button type="button" class="button about__button" data-btn="video">
                    Read more
                    <svg class="about__icon" width="12" height="12">
                        <use href="./images/icons.svg#icon-arrow-on-buttons"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="backdrop is-hidden section" id="video">
        <div class="readme">
            <button type="button" class="readme__button close-button">
                <svg class="readme__icon close-icon" width="16px" height="16px" data-btn="close">
                    <use href="./images/icons.svg#icon-close-modal"></use>
                </svg>
            </button>
            <p class="readme__title">How it’s made?</p>
            <div class="readme__video-box">
                <iframe
                    class="readme__video"
                    src="https://www.youtube.com/embed/JPvjUKT1pcQ"
                    title="YouTube video player"
                    style="border: 0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p class="readme__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et
            </p>
        </div>
    </div>
</section>
