<section class="section advantages__section">
    <div class="container advantages__container">
        <h2 class="visually-hidden">Our advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <p class="advantages__subtitle advantages__subtitle--cow">721</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__subtitle advantages__subtitle--weight">16kg</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__subtitle advantages__subtitle--ice-cream">84</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>
