<section class="section gallery__section">
    <div class="container gallery__container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__img__container">
            <img
                class="gallery__image show"
                srcset="
                    ./images/gallery/img1_m.webp         279w,
                    ./images/gallery/img1_m@2x.webp      558w,
                    ./images/gallery/img1_t704.webp      704w,
                    ./images/gallery/img1_t1408@2x.webp 1408w,
                    ./images/gallery/img1_d1013.webp    1013w,
                    ./images/gallery/img1_d2026@2x.webp 2026w
                "
                sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 
                (min-width: 480px) 440px, 100vw"
                src="./images/gallery/img1_m.webp"
                alt="Ice-cream photos" />

            <img
                class="gallery__image"
                srcset="
                    ./images/gallery/img2_t716.webp      716w,
                    ./images/gallery/img2_t1432@2x.webp 1432w
                "
                sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 
                (min-width: 480px) 440px, 100vw"
                src="./images/gallery/img2_t716.webp"
                alt="Ice-cream photos" />

            <img
                class="gallery__image"
                srcset="
                    ./images/gallery/img3_t636.webp      636w,
                    ./images/gallery/img3_t1272@2x.webp 1272w
                "
                sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 
                (min-width: 480px) 440px, 100vw"
                src="./images/gallery/img3_t636.webp"
                alt="Ice-cream photos" />

            <!-- <img class="gallery__image"               
                src="./images/gallery/img3.jpg"
                alt="Ice-cream photos"
            /> 

            <img class="gallery__image"               
                src="./images/gallery/img4.jpg"
                alt="Ice-cream photos"
            /> 

            <img class="gallery__image"               
                src="./images/gallery/img5.jpg"
                alt="Ice-cream photos"
            /> 

            <img class="gallery__image"               
                src="./images/gallery/img6.jpg"
                alt="Ice-cream photos"
            /> -->
        </div>
    </div>
</section>
