<section class="section main">
    <div class="container hero">
        <h1 class="hero__title">
            ICE CREAM MADE WITH <span class="hero__bigger-part">PASSION</span>
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                <a class="hero__button-products" href="#products">Products</a>
            </li>
            <li class="hero__item">
                <a class="hero__button-how" href="#about">How it’s made?</a>
            </li>
        </ul>
        <div class="hero__arrow-body">
            <ul>
                <li>
                    <p class="hero__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
                </li>
            </ul>
            <button class="hero__button-arrow">
                <svg class="hero__button-simple button-arrow" width="40" height="16">
                    <use href="./images/icons.svg#icon-hero-arrow-def"></use>
                </svg>
                <svg class="hero__button-hov button-arrow" width="50" height="16">
                    <use href="./images/icons.svg#icon-hero-arrow-hov"></use>
                </svg>
                <svg class="hero__button-foc button-arrow" width="50" height="24">
                    <use href="./images/icons.svg#icon-hero-arrow-foc"></use>
                </svg>
            </button>
        </div>
        <ul class="hero__image-list">
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero/plate-ice-cream-tablet.png     152w,
                        ./images/hero/plate-ice-cream-tablet@2x.png  304w,
                        ./images/hero/plate-ice-cream-desktop.png    225w,
                        ./images/hero/plate-ice-cream-desktop@2x.png 450w
                    "
                    sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
                    class="hero__image-plate animate__animated animate__bounceInLeft"
                    src="./images/hero/plate-ice-cream-tablet.png"
                    alt="beautiful yellow circles" />
            </li>
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero/ice-cream-frame-mobile.png      328w,
                        ./images/hero/ice-cream-frame-mobile@2x.png   656w,
                        ./images/hero/ice-cream-frame-tablet.png      767w,
                        ./images/hero/ice-cream-frame-tablet@2x.png  1534w,
                        ./images/hero/ice-cream-frame-desktop.png    1200w,
                        ./images/hero/ice-cream-frame-desktop@2x.png 2400w
                    "
                    sizes="(min-width: 1200px) 1200px, (min-width: 768px) 767px, (min-width: 320px) 328px, 100vw"
                    class="hero__image-circles animate__animated animate__bounceInDown"
                    src="./images/hero/ice-cream-frame-mobile.png"
                    alt="beautiful yellow circles" />
            </li>
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero/ice-cream-header-mobile.png     170w,
                        ./images/hero/ice-cream-header-mobile@2x.png  340w,
                        ./images/hero/ice-cream-header-tablet.png     270w,
                        ./images/hero/ice-cream-header-tablet@2x.png  540w,
                        ./images/hero/ice-cream-header-desktop.png    484w,
                        ./images/hero/ice-cream-header-desktop@2x.png 968w
                    "
                    sizes="(min-width: 1200px) 484px, (min-width: 768px) 270px, (min-width: 320px) 170px, 100vw"
                    class="hero__image-ice animate__animated animate__bounceInRight"
                    src="./images/hero/ice-cream-header-mobile.png"
                    alt="ice cream image" />
            </li>
        </ul>
        <div class="hero__sales">
            <ul class="hero__list-sales">
                <li class="hero__item-sales">
                    <p class="hero__text-sales"><span class="hero__number-sales">16</span> cafes</p>
                </li>
                <li class="hero__item-sales">
                    <p class="hero__text-sales">
                        <span class="hero__number-sales">23</span> food trucks
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
