.title__about--label {
    margin-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    color: $text-color-light;
}

.title__about--topic {
    margin-bottom: 32px;
    margin: 0 auto;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $text-color-light;

    @media screen and (max-width: 320px) {
        width: 200px;
    }
}

.title {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    text-transform: uppercase;

    color: $text-color-light;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: calc(43 / 34);
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: calc(45 / 36);
        letter-spacing: 0.06em;
    }
}

.title--black {
    color: $text-color-dark;
}

.title__label {
    margin-bottom: 12px;

    font-family: $font-family-main;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;

    color: $text-color-light;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: calc(27 / 22);
    }

    @media screen and (min-width: 1200px) {
        font-weight: 800;
        font-size: 30px;
        line-height: calc(37 / 30);
    }
}

.title__label--black {
    font-weight: 800;

    color: $text-color-dark;
}
