.about__section {
    background-color: $main-background-color;

    padding-top: 60px;
    padding-bottom: 42px;

    @media screen and (min-width: 768px) {
        padding-bottom: 48px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
    }
}

.about__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}

.about__image {
    height: 303px;
    width: 280px;
    margin-bottom: 40px;
    margin: 0 auto;

    background-image: url(../images/about/about_sm.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/about/about_sm@2x.png');
    }

    @media screen and (min-width: 768px) {
        height: 356px;
        width: 336px;
        margin-bottom: 0px;
        margin-right: 32px;

        background-image: url(../images/about/about_md.png);
        background-position: 0 0;

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/about/about_md@2x.png');
        }
    }

    @media screen and (min-width: 1200px) {
        height: 529px;
        width: 500px;
        margin-right: 100px;
        margin-bottom: 0px;

        background-image: url(../images/about/about_lg.png);
        background-position: 0 0;

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/about/about_lg@2x.png');
        }
    }
}

// Список ul
.about__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 auto;

    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;

    color: $text-color-light;

    @media screen and (min-width: 768px) {
        width: 334px;
        gap: 8px;
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        width: 463px;
    }
}

.about__text {
    @media screen and (max-width: 320px) {
        width: 220px;
    }

    width: 100%;

    &:last-of-type {
        display: none;
    }

    @media screen and (min-width: 768px) {
        &:last-of-type {
            display: block;
        }
    }
}

.about__button {
    position: relative;

    display: flex;
    width: 164px;
    margin-top: 16px;
    margin: 0 auto;

    line-height: 1.28;

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-top: 40px;
    }
}

.about__icon {
    margin-left: 5px;
}

//МОДАЛКА

.readme {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;
    padding: 28px;
    max-width: 568px;
    min-width: 280px;
    width: calc(100% - 20px);

    font-weight: 400;

    border: 2px solid $accent-color;
    border-radius: 10px;
    background-color: $text-color-light;
}

.readme__title {
    margin-bottom: 20px;

    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    font-family: $font-family-secondary;

    color: $text-color-dark;
}

.readme__video-box {
    position: relative;

    width: 100%;
    padding-bottom: 56.25%;

    border-radius: 10px;

    overflow: hidden;
}
.readme__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
}
.readme__text {
    margin-top: 20px;

    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}
