.advantages__section {
    padding-bottom: 36px;

    background-color: $main-background-color;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 86px;
    }
}

.advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    text-align: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 80px;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
    }
}

.advantages__item {
    color: $text-color-light;

    @media screen and (min-width: 480px) {
        width: 230px;
    }

    @media screen and (min-width: 768px) {
        width: 152px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
    }
}

.advantages__subtitle {
    margin-bottom: 18px;

    font-family: $font-family-main;
    @include text-design(700, 36px, calc(42 / 36), 0.04em);

    @media screen and (min-width: 768px) {
        @include text-design(700, 48px, calc(59 / 48), 0.04em);
    }

    @media screen and (min-width: 1200px) {
        @include text-design(700, 58px, calc(71 / 58), 0.04em);
    }
}

.advantages__subtitle::before {
    content: '';

    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;

    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

.advantages__subtitle--cow::before {
    background-image: url('../images/advantages/cow.png');

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/advantages/cow@2x.png');
    }
}

.advantages__subtitle--weight::before {
    background-image: url('../images/advantages/weight.png');

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/advantages/weight@2x.png');
    }
}

.advantages__subtitle--ice-cream::before {
    background-image: url('../images/advantages/icecream.png');

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/advantages/icecream@2x.png');
    }
}

.advantages__description {
    @include text-design(700, 12px, calc(20 / 12), 0.04em);

    @media screen and (min-width: 768px) {
        @include text-design(400, 14px, calc(24 / 14), 0.04em);
    }

    @media screen and (min-width: 1200px) {
        @include text-design(400, 16px, calc(28 / 16), 0.02em);
    }
}
