.contacts__section {
    padding-bottom: 39px;

    background-image: linear-gradient(to bottom, transparent 345px, $main-background-color 345px);

    @include media-screen(768px) {
        background-image: linear-gradient(
            to bottom,
            transparent 304px,
            $main-background-color 304px
        );
        padding-bottom: 40px;
    }

    @include media-screen(1200px) {
        padding-bottom: 120px;

        background-image: linear-gradient(to bottom, transparent 96px, $main-background-color 96px);
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-bottom: 32px;

    @include media-screen(768px) {
        flex-direction: row;
        gap: 16px;

        margin-bottom: 60px;
    }

    @include media-screen(1200px) {
        gap: 32px;

        margin-bottom: 64px;
    }
}

.contacts__card {
    padding: 40px 32px;
    width: 100%;

    @include text-design(500, 12px, calc(22 / 12), 0.04em);

    background: $text-color-light;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include media-screen(768px) {
        padding-left: 24px;
        padding-right: 24px;

        @include text-design(500, 14px, calc(26 / 14), 0.04em);
    }

    @include media-screen(1200px) {
        padding: 40px;

        @include text-design(500, 16px, calc(30 / 16), 0.04em);
    }
}

.contacts__subtitle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 20px;
    height: 16px;

    text-transform: uppercase;

    background-color: $accent-color;
    border-radius: 4px;

    @include media-screen(768px) {
        height: auto;

        @include text-design(500, 16px, calc(30 / 16), 0.04em);
    }
}

.contacts__text--city {
    margin-bottom: 8px;
}

.contacts__text--address {
    text-decoration: none;

    color: $products__list-bg-color-3;
    outline: none;

    transition: color $main-animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @include media-screen(1200px) {
        line-height: calc(29 / 16);
    }
}

.contacts__text-block:not(:last-child)::after {
    content: '';
    display: block;
    margin: auto;
    height: 0px;
    width: 100%;
    margin: 24px 0 24px;

    background-color: $contacts__divider-color;
    border: 1px solid $contacts__divider-color;

    @include media-screen(768px) {
        margin: 32px 0 32px;
    }
}

.contacts__text--grey {
    color: $text-color-grey;
}

.contacts__text--grey:not(:last-child) {
    margin-bottom: 8px;
}

.contacts__text--contact {
    line-height: calc(18 / 12);

    @include media-screen(768px) {
        line-height: calc(30 / 16);
    }

    @include media-screen(1200px) {
        line-height: calc(29 / 16);
    }
}

.contacts__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.contacts__button {
    justify-content: center;
    gap: 6px;
    width: 196px;

    transition: color $main-animation, background-color $main-animation,
        border-color $main-animation;
}

.contacts__button--transparent {
    background-color: transparent;
    border: 2px solid $accent-color;

    &:hover {
        background-color: transparent;
        border-color: $hover-color;
    }

    &:focus {
        background-color: transparent;
        border-color: $hover-color;
    }
}

.contacts__link {
    display: block;

    text-decoration: none;

    color: $text-color-dark;
    outline: none;

    transition: color $main-animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop.is-hidden {
    & .modal_locations,
    .modal_franchise {
        transform: translate(-50%, -50%) scale(0.9);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal_locations,
.modal_franchise {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 280px;
    padding: 26px;

    background-color: $text-color-light;
    border: 2px solid $accent-color;
    border-radius: 10px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    box-sizing: border-box;

    @include media-screen(768px) {
        width: 568px;
        padding: 30px 58px;
    }
}

.locations__title,
.franchise__title {
    margin: 0 auto;
    margin-bottom: 20px;

    font-family: $font-family-secondary;
    @include text-design(400, 16px, calc(24 / 16), 0.04em);
    text-align: center;

    @include media-screen(768px) {
        width: 322px;

        @include text-design(400, 20px, calc(28 / 20), 0.04em);
    }
}

.locations__title {
    @include media-screen(768px) {
        margin-bottom: 32px;
    }
}

.franchise__title {
    @include media-screen(768px) {
        margin-bottom: 24px;
    }
}

.franchise__text {
    margin-bottom: 24px;

    @include text-design(400, 14px, calc(20 / 14), 0.04em);

    @include media-screen(768px) {
        margin-bottom: 32px;
    }
}

.locations__map {
    width: 100%;
    height: 199px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/contacts/map.webp');

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/contacts/map@2x.webp');
    }

    margin-bottom: 24px;

    @include media-screen(768px) {
        height: 260px;
        background-image: url('../images/contacts/big_map.webp');

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/contacts/big_map@2x.webp');
        }

        margin-bottom: 32px;
    }
}

.locations__button {
    display: block;
    margin: 0 auto;
    min-width: 134px;

    @include text-design(600, 12px, calc(15 / 12), 0.04em);
    text-align: center;

    border: none;
    outline: none;

    transition: background-color $main-animation, color $main-animation;

    &:hover {
        background-color: $hover-color;
        border: none;
    }

    &:focus {
        color: $text-color-light;
        background-color: $hover-color;
        border: none;
    }

    @include media-screen(768px) {
        @include text-design(600, 14px, calc(17 / 14), 0.04em);
    }
}
